<%= form_for(item) do |f| %>

<table>
  <tbody>
      <tr>
        <td><%= f.label :image %></td>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :price %></td>
        <td><%= f.number_field :price %></td>
      </tr>
      <tr>
        <td><%= f.label :body %></td>
        <td><%= f.text_field :body %></td>
      </tr>
      <tr>
        <td><%= f.label :brand %></td>
        <td><%= f.select :brand, Item.brands.keys.to_a, {} %></td>
      </tr>
      <tr>
        <td><%= f.label :category %></td>
        <td><%= f.select :category, Item.categories.keys.to_a, {} %></td>
      </tr>
      <tr>
        <td><%= f.label :country %></td>
        <td><%= f.select :country, Item.countries.keys.to_a, {} %></td>
      </tr>
  </tbody>
</table>

  <%= f.submit %>

<% end %>
