<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image.to_s %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Body:</strong>
  <%= @item.body %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Country:</strong>
  <%= @item.country %>
</p>

<p>
  <strong>Color:</strong>
  <% @item.colors.each do |color| %>
    <%= color.color %>
  <% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>
