<!DOCTYPE html>
<html>
  <head>
    <title>ECSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= link_to 'Home', root_path %>
    <%= link_to 'Sign in', new_user_path %>
    <%= link_to 'Log in', login_path %>
    <%= link_to 'Log out', logout_path, method: :delete %>
    <%= link_to 'Shop info', '#' %>
    <%= link_to 'Contact', '#' %>
    <%= link_to 'Item', items_path %>
    <%= link_to 'New', new_item_path %>
    <%= link_to 'OUTER', items_outer_index_path %>
    <%= link_to 'TOPS', items_tops_index_path %>
    <%= link_to 'BOTOMS', items_botoms_index_path %>
    <%= link_to 'SHOES', items_shoes_index_path %>
    <%= link_to 'A', items_a_index_path %>
    <%= link_to 'B', items_b_index_path %>
    <%= link_to 'C', items_c_index_path %>
    <%= link_to 'D', items_d_index_path %>
    <%= link_to 'E', items_e_index_path %>

    <%= yield %>

    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>

  </body>
</html>
